header {
    color: whitesmoke;
    padding: 25px 0px;
    text-align:center;
}

input {
    margin: 5px 0px;
}

.sign-in {
    margin-right: 10px;
}

.modal-title {
    color: black;
}

.character, .stats {
    margin: 0 auto;
    /* padding: 100vh 225px; */
}

#sign-up-status, #sign-in-status {
    color: red;
    width: 100%;
    padding-bottom: 15px;
}

.black-text {
    color: #000;
}

.col-5 {
    max-width:100%;
    flex:none;
}


.carousel-inner>.item>a>img,
.carousel-inner>.item>img,
.img-responsive,
.thumbnail a>img,
.thumbnail>img {
    display: inline-block;
}



